gradle.properties
Elements

node_modules
*.csv
package-lock.json
obb/en
obb/ru
obb/uk
obb/1-*
obb/*.json

## Robovm
/ios/robovm-build/

## Android
/android-*/libs/armeabi/
/android-*/libs/armeabi-v7a/
/android-*/libs/arm64-v8a/
/android-*/libs/x86/
/android-*/libs/x86_64/
/android-*/gen/
/android-*/build

## Gradle

/local.properties
.gradle/
gradle-app.settingk
/build/
/core/build/
/desktop/build/
/html/build/
/ios/build/
/ios-moe/build/

## OS Specific
.DS_Store
Thumbs.db
.idea/
*.ipr
*.iws
*.iml

## iOS
/ios/xcode/*.xcodeproj/*
!/ios/xcode/*.xcodeproj/xcshareddata
!/ios/xcode/*.xcodeproj/project.pbxproj
/ios/xcode/native/

/ios-moe/xcode/*.xcodeproj/*
!/ios-moe/xcode/*.xcodeproj/xcshareddata
!/ios-moe/xcode/*.xcodeproj/project.pbxproj
/ios-moe/xcode/native/
