gradle.properties
Elements

node_modules
*.csv
package-lock.json
obb/en
obb/ru
obb/uk
obb/expansions

## Robovm
/ios/robovm-build/

## Android
/android-ru/libs/armeabi/
/android-ru/libs/armeabi-v7a/
/android-ru/libs/arm64-v8a/
/android-ru/libs/x86/
/android-ru/libs/x86_64/
/android-ru/gen/
/android-ru/build

/android-ua/libs/armeabi/
/android-ua/libs/armeabi-v7a/
/android-ua/libs/arm64-v8a/
/android-ua/libs/x86/
/android-ua/libs/x86_64/
/android-ua/gen/
/android-ua/build

/android-en/libs/armeabi/
/android-en/libs/armeabi-v7a/
/android-en/libs/arm64-v8a/
/android-en/libs/x86/
/android-en/libs/x86_64/
/android-en/gen/
/android-en/build

## Gradle

/local.properties
.gradle/
gradle-app.settingk
/build/
/core/build/
/desktop/build/
/html/build/
/ios/build/
/ios-moe/build/

## OS Specific
.DS_Store
Thumbs.db
.idea/
*.ipr
*.iws
*.iml

## iOS
/ios/xcode/*.xcodeproj/*
!/ios/xcode/*.xcodeproj/xcshareddata
!/ios/xcode/*.xcodeproj/project.pbxproj
/ios/xcode/native/

/ios-moe/xcode/*.xcodeproj/*
!/ios-moe/xcode/*.xcodeproj/xcshareddata
!/ios-moe/xcode/*.xcodeproj/project.pbxproj
/ios-moe/xcode/native/
